# things created by go
bin/
pkg/

# things created by environments (vs code adds tools to GOPATH)
src/github.com/
src/golang.org/

# vender directory
vender/

# outputs and tests
/backup
/backup_*.zip